
.list {
    margin-top: 64px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2px;
    color: var(--gray-300);
}

span {
    border-radius: 100%;
    border: 1px solid var(--gray-500);
}